Repository kanes115/MDM, pull requests merged in 2018-10, with the labels that each got.

#58 Alias domains
  big_tests/Dockerfile.minion
  big_tests/Dockerfile.pilot
  big_tests/docker-compose.yml
  big_tests/example_ws_req_with_service
  big_tests/examples/some_server/start.sh
  big_tests/examples/some_server2/start.sh
  big_tests/start_minion.sh
  docs/Routing.md
  mdm/lib/deployment/deployer.ex
  mdm/lib/deployment/service_uploader.ex
  mdmminion/lib/linux_router_backend.ex
  mdmminion/lib/minion_app.ex
  mdmminion/lib/router.ex
Labels: Backend, Waiting-for-review

#61 Prepare setup for integration tests
  big_tests/Dockerfile.test
  big_tests/README.md
  big_tests/docker-compose.yml
  big_tests/test_env_start.sh
  mdm/mix.exs
  mdm/test/integration_test.exs
  mdm/test/parser_test.exs
  mdm/test/test_helper.exs
Labels: Backend

#55 Display deployment information
  big_tests/Dockerfile.minion
  big_tests/examples/python3_simple_http_server/client.sh
  big_tests/examples/python3_simple_http_server/server.py
  user_interfaces/gui/mdm-react/package-lock.json
  user_interfaces/gui/mdm-react/package.json
  user_interfaces/gui/mdm-react/src/actions/graph/deployment.js
  user_interfaces/gui/mdm-react/src/components/AppContent/app-routes.css
  user_interfaces/gui/mdm-react/src/components/AppContent/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/DetailsListElement.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/MachineList/Machine.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/MachineList/MachineListElement.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/MachineList/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Error/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Header/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Status/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/app-details.css
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppHeader/app-header.css
  user_interfaces/gui/mdm-react/src/components/AppHeader/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppNavigation/app-navigation.css
  user_interfaces/gui/mdm-react/src/components/AppNavigation/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppNavigation/representation/AppNavLink/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppNavigation/representation/index.js
  user_interfaces/gui/mdm-react/src/components/AppRoutes/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationButton/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationButton/representation/CreationPanel/CancelButton.jsx
  user_interfaces/gui/mdm-react/src/components/CreationButton/representation/CreationPanel/ConfigurationButton.jsx
  user_interfaces/gui/mdm-react/src/components/CreationButton/representation/CreationPanel/CreationButtons.jsx
  user_interfaces/gui/mdm-react/src/components/CreationButton/representation/CreationPanel/DeploymentButton.jsx
  user_interfaces/gui/mdm-react/src/components/CreationButton/representation/CreationPanel/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationButton/representation/index.jsx
  user_interfaces/gui/mdm-react/src/components/Link/index.jsx
  user_interfaces/gui/mdm-react/src/components/Link/link.css
  user_interfaces/gui/mdm-react/src/components/index.js
  user_interfaces/gui/mdm-react/src/providers/index.jsx
  user_interfaces/gui/mdm-react/src/providers/route/index.jsx
  user_interfaces/gui/mdm-react/src/providers/websocket/index.js
  user_interfaces/gui/mdm-react/src/reducers/graph/deployment.js
  user_interfaces/gui/mdm-react/src/reducers/graph/index.js
  user_interfaces/gui/mdm-react/src/reducers/graph/trafficData.js
  user_interfaces/gui/mdm-react/src/reducers/graph/view.js
  user_interfaces/gui/mdm-react/src/reducers/jmmsr.js
  user_interfaces/gui/mdm-react/src/routes/deploy/index.jsx
  user_interfaces/gui/mdm-react/src/routes/index.jsx
  user_interfaces/gui/mdm-react/src/routes/model/representation/ModelContent/index.jsx
  user_interfaces/gui/mdm-react/src/routes/model/representation/ModelGraph/representation/index.js
  user_interfaces/gui/mdm-react/src/routes/monitor/index.jsx
  user_interfaces/gui/mdm-react/src/routes/welcome/index.jsx
  user_interfaces/gui/mdm-react/src/routes/welcome/welcome.css
  user_interfaces/gui/mdm-react/src/sagas/utils.js
Labels: GUI

#64 Machine editors
  user_interfaces/gui/mdm-react/src/actions/index.js
  user_interfaces/gui/mdm-react/src/components/AppDetails/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/DetailsListElement.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/MachineList/Machine.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/MachineList/MachineListElement.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/MachineList/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/details-list-element.css
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationForm/representation/MachineForm/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationForm/representation/MachineForm/representation/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationForm/representation/ServiceForm/representation/index.jsx
  user_interfaces/gui/mdm-react/src/reducers/jmmsr.js
Labels: GUI

#65 Graph fix
  user_interfaces/gui/mdm-react/src/actions/graph/deployment.js
  user_interfaces/gui/mdm-react/src/reducers/graph/deployment.js
  user_interfaces/gui/mdm-react/src/reducers/graph/trafficData.js
  user_interfaces/gui/mdm-react/src/routes/model/representation/ModelGraph/representation/index.js
Labels: GUI, Waiting-for-review

#66 Service editors
  user_interfaces/gui/mdm-react/src/actions/index.js
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/ServiceList/Service.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/ServiceList/ServiceListElement.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/ServiceList/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationForm/representation/MachineForm/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationForm/representation/ServiceForm/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationForm/representation/ServiceForm/representation/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationForm/representation/ServiceForm/representation/validation.js
  user_interfaces/gui/mdm-react/src/components/FormElements/InputField/index.jsx
  user_interfaces/gui/mdm-react/src/components/FormElements/InputField/input-field.css
  user_interfaces/gui/mdm-react/src/components/FormElements/SelectionField/index.jsx
  user_interfaces/gui/mdm-react/src/reducers/jmmsr.js
Labels: GUI, Waiting-for-review

#76 Daemonize services
  big_tests/examples/pingers_system/some_server/start.sh
  big_tests/examples/pingers_system/some_server2/start.sh
  big_tests/restart.sh
  mdm/test/integration_test.exs
  mdmminion/lib/linux_deployer_backend.ex
  mdmminion/lib/linux_router_backend.ex
  mdmminion/lib/script_provider.ex
  mdmminion/scripts/linux/service_runner.sh
Labels: Waiting-for-review

#78 Add check_correctness endpoint
  mdm/lib/communication_layer/ws_communicator.ex
  mdm/lib/deployment/correctness_checker.ex
  mdm/lib/deployment/deployer.ex
  mdm/lib/mdm_app.ex
  mdm/lib/parser/jmmsr_parser.ex
Labels: Waiting-for-review

#79 Check correctness followup
  mdm/lib/communication_layer/command.ex
  mdm/lib/communication_layer/ws_communicator.ex
  mdm/test/integration_test.exs
Labels: Waiting-for-review

#83 Collect and send machines metrics
  big_tests/Dockerfile.minion
  mdm/lib/communication_layer/event.ex
  mdm/lib/communication_layer/ws_communicator.ex
  mdm/lib/deployment/deployer.ex
  mdm/lib/mdm_app.ex
  mdm/lib/monitoring/collect_machine_metric.ex
  mdm/lib/monitoring/monitor.ex
  mdm/lib/parser/jmmsr.ex
  mdmminion/lib/linux_network_info_backend.ex
  mdmminion/lib/minion_app.ex
  mdmminion/lib/network_info.ex
Labels: Backend, Waiting-for-review

#86 Jmmsr file loading
  user_interfaces/gui/mdm-react/package-lock.json
  user_interfaces/gui/mdm-react/package.json
  user_interfaces/gui/mdm-react/src/actions/index.js
  user_interfaces/gui/mdm-react/src/providers/websocket/index.js
  user_interfaces/gui/mdm-react/src/reducers/graph/trafficData.js
  user_interfaces/gui/mdm-react/src/reducers/graph/utils.js
  user_interfaces/gui/mdm-react/src/reducers/jmmsr.js
  user_interfaces/gui/mdm-react/src/routes/model/representation/ModelContent/index.jsx
  user_interfaces/gui/mdm-react/src/routes/model/representation/ModelEmpty/ModelEmpty.js
  user_interfaces/gui/mdm-react/src/routes/model/representation/ModelEmpty/ModelEmptyWrapper.js
  user_interfaces/gui/mdm-react/src/routes/model/representation/ModelEmpty/index.jsx
  user_interfaces/gui/mdm-react/src/routes/model/representation/ModelEmpty/model-empty.css
  user_interfaces/gui/mdm-react/src/sagas/utils.js
  user_interfaces/gui/mdm-react/src/utils/jmmsr/index.js
Labels: GUI

#87 Deleting elements
  user_interfaces/gui/mdm-react/src/actions/index.js
  user_interfaces/gui/mdm-react/src/components/AppDetails/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/ConnectionList/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/MachineList/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/ServiceList/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/Content/index.jsx
  user_interfaces/gui/mdm-react/src/components/AppDetails/representation/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationForm/representation/ConnectionForm/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationForm/representation/MachineForm/index.jsx
  user_interfaces/gui/mdm-react/src/components/CreationForm/representation/ServiceForm/index.jsx
  user_interfaces/gui/mdm-react/src/reducers/graph/trafficData.js
  user_interfaces/gui/mdm-react/src/reducers/jmmsr.js
  user_interfaces/gui/mdm-react/src/sagas/utils.js
Labels: GUI

#84 Run services supervised and monitor services' cpu and mem
  .gitignore
  big_tests/Dockerfile.minion
  big_tests/docker-compose.yml
  big_tests/examples/forker_pinger_system/jmmsr.json
  big_tests/examples/forker_pinger_system/server1/forker.c
  big_tests/examples/forker_pinger_system/server1/start.sh
  big_tests/examples/forker_pinger_system/server2/start.sh
  big_tests/examples/forker_pinger_system/server3/start.sh
  mdm/lib/deployment/deployer.ex
  mdm/lib/mdm_app.ex
  mdm/lib/monitoring/collect_machine_metric.ex
  mdm/lib/monitoring/collect_services_metric.ex
  mdm/lib/monitoring/monitor.ex
  mdm/lib/parser/elements/service.ex
  mdm/test/integration_test.exs
  mdmminion/Makefile
  mdmminion/c_src/backend_nif.c
  mdmminion/lib/backend_nif.ex
  mdmminion/lib/cpu_info.ex
  mdmminion/lib/deployer.ex
  mdmminion/lib/linux_deployer_backend.ex
  mdmminion/lib/minion_app.ex
  mdmminion/lib/service.ex
  mdmminion/mix.exs
  user_interfaces/gui/mdm-react/src/actions/metrics.js
  user_interfaces/gui/mdm-react/src/reducers/graph/definitions.js
  user_interfaces/gui/mdm-react/src/reducers/graph/trafficData.js
  user_interfaces/gui/mdm-react/src/reducers/graph/utils.js
  user_interfaces/gui/mdm-react/src/reducers/jmmsr.js
  user_interfaces/gui/mdm-react/src/routes/model/representation/ModelGraph/representation/index.js
  user_interfaces/gui/mdm-react/src/sagas/utils.js
  user_interfaces/gui/mdm-react/src/utils/jmmsr/schema/system/index.js
Labels: Backend
